{% extends 'base.html' %}

{% load static %}



{% block header_refrence %}

<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'contact_module/contact.css' %}">
{% endblock %}



{% block title %}
فرم تماس با ما
{% endblock %}





{% block content %}


<form method="post"  class="nazar">
    {% csrf_token %}

     <input type="text" name="username"    class="nazar_user"  placeholder="نام کاربری"  required>
    <input type="email" name="email"      class="nazar_user"  placeholder="ایمیل" required>
    <br>
    <input type="text" name="subject"     class="nazar_user"  placeholder="موضوع"  required>
    <br>
    <textarea name="comment" id="comment" rows="10" cols="45"      class="nazar_user"  placeholder="متن مورد نظر" required></textarea>
    <br>
    <button type="submit"  class="dokmeh_nazar">ارسال</button>




</form>



{% endblock %}